html {
    height: 100%;
    width: 100%;

}

body {
    font-family: 'Segoe UI', Arial;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
a{
    outline: none;
    text-decoration: none;
}


.home {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 1);

}
.home .enTete {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    background-color: white;
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;

    box-shadow: none;
    width: 100%;
    height: 100.00px;

}
.home .enTete .socialNetwork{
      position: relative;
      float:right;
  }
.home .enTete .socialNetwork td{
    text-decoration: none;
    padding: 20px 20px 10px 20px;
    color:steelblue;
}
.home .enTete .nav{
    position: relative;
    float:left;
}
.home .enTete #logo{
     padding: 20px 0px 10px 20px ;

 }
.home .enTete #btnHome{
    padding: 20px 0px 20px 0px ;
    font-size: 24px;
    font-weight: bold;

}
.home .enTete #btnEsp{
    padding: 20px 0px 20px 20px ;
    font-size: 24px;
    font-weight: bold;

}

.home .imageFromRawpixelId2335470Original {
    position: relative;
    float:left;
    box-sizing: content-box;
    background-image: url("/e-learning/includes/images/imageFromRawpixelId269003Original.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    width: 50%;
    height: 600.00px;
    margin-top: 100px;
}

.home .imageFromRawpixelId269003Original {
    position: relative;
    float:left;
    box-sizing: content-box;
    background-image: url("/e-learning/includes/images/imageFromRawpixelId2335470Original.png");
    background-size: cover;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    width: 50%;
    height: 600.00px;
    margin-top: 100px;


}

.apprenants_intervenants{
    text-align:center;
    color:white;
    font-size: 50px;
    margin-top: 20%;
    font-weight: bold;
}
.apprenants_intervenantsSub{
    text-align:center;
    font-size: 30px;
    margin-top: 12%;
    font-weight: bold;
    color:white;

}

.connexion {
    position: relative;
    border: 1px solid rgba(54, 138, 191, 1);
    background-color: rgba(54, 138, 191, 1);
    border-radius: 35px;
    text-align: center;
    width: 25%;
    height: 5%;
    margin-top: 15%;
    margin-left: 38%;
    font-weight: bold;

}
.connexion a{
    outline: none;
    text-decoration: none;
    color:white;
    text-align: center;
    padding: 30px 0px;
}
.inscription {
    position: relative;
    border: 1px solid #D54E89;
    background-color: #D54E89;
    border-radius: 35px;
    text-align: center;
    width: 25%;
    height: 5%;
    margin-top: 15%;
    margin-left: 38%;
    font-weight: bold;

}
.inscription a{
    outline: none;
    text-decoration: none;
    color:white;
    text-align: center;
    padding: 30px 0px;
}

.home .imageFromRawpixelId2335470Original .rectangle1350 {
    position: relative;
    float: left;
    background-image: url("/e-learning/includes/images/rectangle1350.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    width: 100%;
    height: 600.00px;



}
.home .imageFromRawpixelId269003Original .rectangle1351{
    position: relative;
    float: right;
    background-image: url("/e-learning/includes/images/rectangle1351.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    width: 100%;
    height: 600.00px;



}